* {
    --bgColorModal: #656565;
    --bgColormain: #ffffff;
}


.example::-webkit-scrollbar {
    display: none;
  }
  
input {
    width: 20%;
    padding: 5px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    outline: none;
  }

/* 
==================================================
======- Cookies -
==================================================
*/


.icon_cookies{
    height: 200px;
    position: fixed;
    bottom: 0.1%;
    left: 85%;
}

.big_cookie{
    position: absolute;
    z-index: 1;
    height: 8%;
    left: 38%;
    top: 39%;
}

.cookieModal {
    margin: auto;
    margin-top: 10%;
    
    /* margin: auto; */
    width: 950px;
    height: 400px;
    display: flex;
    /* flex-direction: row;
    background-size: cover; */
    /* max-height: 30%; */

}

.cookieModal img {
    opacity: 0.8;
}

.cookieModal div{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: justify; */
    z-index: 0;
    background-color: white;
    /* height: 100%; */
}

.cookieModal h1{
    text-align: center;
}
.cookieModal p{
    margin-left: 10px;
}

/* .cookieModal ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: justify;
    gap: 15px;
} */

.exitCookie {
    margin-left: 90%;
    width: 50px;
}



button {
    height: 50px;
    width: 210px;
    margin-left: 5px;
    border-color: #ffffff;
    background-color: #ffffff;
    outline: none;

    border: none;
    outline:none;
    padding: 5px;

}


button:hover {
    border: none;
    outline:none;
    padding: 5px;
}
    
button:active {
    border: none;
    outline:none;
    padding: 5px;
}
    
button:focus {
    border: none;
    outline:none;
    padding: 5px;
}

/* 
==================================================
======- NEWSLETTER -
==================================================
*/

.icon_newsletter{
    height: 120px;
    position: fixed;
    bottom: 5%;
    left: 75%;
}

.newsModal {    
    margin: auto;
    margin-top: -28%;
    margin-bottom: 10%;
    width: 900px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("./img/newsletter-modal/mail_boxes.jpg");
    background-size: cover;
    z-index: 1;
}

.newsModal hr {
    width: 55%;
    margin-top: -0.2%;
}


.exitNews {
    align-self: flex-end;
    width: 50px;
}


.newsModal div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
    background-color: var(--bgColormain);
    margin-top: auto;
}

.newsModal ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.mail_Input {
    border-radius: 7px;
}

.validateNews {
    margin-top: 20px;
    height: 60px;
    width: 200px;
    font-size: 20px;
}

ul {
    list-style-type: none;
}

/* 
==================================================
======- login -
==================================================
*/

.icon_login{
    height: 120px;
    position: fixed;
    bottom: 5%;
    left: 65%;
}

.exitlogin {
    align-self: flex-end;
    width: 50px;
}

.loginModal button{
    background-color: rgb(226, 226, 226);
    border-radius: 10px;
}

.loginModal hr {
    width: 45%;
    margin-top: -0.1%;
}

.loginmModal div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: justify;
    z-index: 0;
    background-color: white;
    margin-top: auto;
}

.loginModal div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
    background-color: var(--bgColormain);
    margin: -45% 15% 0% 15%;
    padding-bottom: 5%;
}